# =========================================================
# DATABASE
# MySQL chạy trên Ubuntu Host
# =========================================================
DB_HOST=host.docker.internal
DB_PORT=3306
DB_NAME=nguon_goc_so
DB_USERNAME=nguongocso
DB_PASSWORD=

# =========================
# SERVER
# =========================
PORT=8080
VITE_API_URL=http://localhost:8080

# =========================================================
# JWT
# =========================================================
JWT_SECRET=
JWT_EXPIRATION=86400000

# =========================================================
# CORS
# =========================================================
ALLOWED_ORIGINS=http://localhost

# =========================================================
# UPLOAD
# =========================================================
UPLOAD_BASE_DIR=./uploads
UPLOAD_FARM_LOG_RELATIVE_PATH=farm-logs
UPLOAD_FARM_LOG_MAX_SIZE=5242880

# =========================================================
# QR CODE
# =========================================================
QR_IMAGE_STORAGE_PATH=./files/qr

# =========================================================
# MYSQL BACKUP / RESTORE
# =========================================================
MYSQL_DUMP_PATH=/usr/bin/mysqldump
MYSQL_PATH=/usr/bin/mysql

# =========================================================
# FRONTEND
# =========================================================
FRONTEND_URL=http://localhost

# =========================================================
# MAIL - GMAIL SMTP
# =========================================================
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=

# =========================================================
# LOCATIONIQ
# =========================================================
LOCATIONIQ_API_KEY=
LOCATIONIQ_BASE_URL=https://us1.locationiq.com/v1/reverse